[user]
	email = lagrange.resolvent@gmail.com
	name = wonda-tea-coffee
[alias]
	vacuum = "!f () { git switch develop; git pull; git branch --merged | egrep -v '^\\* develop$' | xargs git branch -d; git fetch --prune; };f"
[ghq]
	root = ~/ghq
[core]
	editor = code --wait
[fetch]
	prune = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[push]
	default = simple
	autoSetupRemote = true
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
